{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1>微信接入</h1>

<p>请按以下指引接入 DM Hunter。</p>
<ol>
	<li><p>在微信公众平台 <a href="https://mp.weixin.qq.com/" target="_blank" rel="noreferrer">https://mp.weixin.qq.com/</a> 申请订阅号。主体为个人或法人均可，无需认证。</p></li>
	<li><p>左侧菜单栏转到“开发 -> 基本配置”，修改服务器配置。</p></li>
	<ul>
		<li><label style="width: 12em;">服务器地址(URL)</label>{% if url %}<code>{{ url }}</code>{% else %}<img src="{% static 'dmhunter/img/wait16.gif' %}"> 等待获取{% endif %}</li>
		<li><label style="width: 12em;">令牌(Token)</label>{% if token %}<code>{{ token }}</code>{% else %}<img src="{% static 'dmhunter/img/wait16.gif' %}"> 等待获取{% endif %}<span class="text-danger ml-4">严禁泄露</span></li>
		<li><label style="width: 12em;">消息加解密密钥</label>{% if aeskey %}<code>{{ aeskey }}</code>{% else %}<img src="{% static 'dmhunter/img/wait16.gif' %}"> 等待获取{% endif %}<span class="text-danger ml-4">严禁泄露</span></li>
		<li><label style="width: 12em;">消息加解密方式</label>安全模式</li>
	</ul>
	<p>只要能成功保存就说明以上信息填写正确。</p>
	<li>
		<p>点击“启用”；从启用到生效可能有 5 分钟延迟。</p>
		<p>启用后，订阅号原本的自动回复会失效。向该订阅号发送 <span class="text-success">DM内容</span> 测试，如有回复 <span class="text-success">弹幕发射~升空</span> 则说明接入成功。</p>
	</li>
	<li><p>将以下 Token 填在弹幕客户端中。</p></li>
	<ul>
		<li><label style="width: 12em;">弹幕客户端 Token</label>{% if id and client_token %}<code>{{id}}:{{ client_token }}</code>{% else %}<img src="{% static 'dmhunter/img/wait16.gif' %}"> 等待获取{% endif %}<span class="text-danger ml-4">持有该 Token 的任何人会获得该公众号收到的所有消息以便弹幕显示</span></li>
	</ul>
</ol>

<form method="POST">
	{% csrf_token %}
	<p><input type="submit" {% if client_token %}class="btn btn-primary" value="获取 Tokens" disabled{% else %}class="btn btn-primary" value="获取 Tokens"{% endif %}></p>
</forM>
<p>注意事项</p>
<ol>
	<li>以上所有 Token、URL、密钥只会显示一次。如果遗忘了任何一项，只能重新接入（重做第 2 ~ 4 步）。</li>
	<li>严禁泄露微信公众平台服务器配置的 Token 和密钥。</li>
	<li>持有弹幕客户端 Token 的任何人会获得该公众号收到的所有消息以便弹幕显示。</li>
</ol>

<pre>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
</pre>

{% endblock %}
